[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "<2.0"
pydantic = "*"
streamlit = "*"
google-generativeai = "*"
streamlit-mic-recorder = "*"
torch = "==2.3.0"
torchvision = "==0.18.0"
torchaudio = "==2.3.0"
diffusers = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
